<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="patchdir" value="C:\local_agents"/>
      <add key="repo" value="https://github.com/hfugenGP/khlocalagent.git"/>
    </appSettings>
</configuration>